.prob_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.prob_left {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 290px 150px;
    width: 440px;
    height: 50px;
    background-color: #F6F7F8;
    border: 1px solid #E3EBEF;
    border-radius: 5px;
}
.activ_crypto_menu {
    border-radius: 5px 5px 0 0;
    border: 1px solid #C1D9E6;
    border-bottom: none;
}
.input_form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input_form input {
    max-width: 230px;
}
.dropdown {
    display: flex;
    align-items: center;
    padding-left: 36px;
    padding-right: 54px;
}
.crypto_info {
    display: flex;
    align-items: center;
}

.crypto_info .icon {
    margin-right: 14.39px;
    width: 15px;
    height: 20px;
}
.crypto_info input {
    width: 40px;
    padding-left: 0px;
}
.icon img {
    align-items: center;
    width: 15px;
    height: 20px;
}

.drop {
    position: absolute;
    margin-left: 85px;
    background-color: #F6F7F8;
    border: none;
    width: 10px;
    cursor: pointer;
}




.crypto_menu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    height: 144px;
    width: 440px;
    border-top: 1px solid #E3EBEF;
    border: 1px solid #C1D9E6;
    border-radius: 0 0 5px 5px;
    border-top: 1px solid #E3EBEF;
    background-color: #F6F7F8;
    margin-top: 49px;
    padding: 12px 0;
    margin-left: -1px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.crypto_menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.crypto_menu ul {
    list-style: none ;
    padding-left: 20px;
    margin: 0;
}
.crypto_menu ul li{
    display: flex;
    justify-content: left;
    margin-bottom: 25px;
    align-items: center;
    cursor: pointer;
}
.crypto_menu ul li .icon {
    width: 15px;
    height: 20px;
}

.crypto_menu ul li div {
    margin-right: 15px;
}
.crypto_tic {
    text-transform: uppercase;
    line-height: 23px;
}
.crypto_menu ul li .crypto_name {
    color: #80A2B6;
}
.show {
    display: block;
}

.button_change{
    margin-left: 122px;
}
.button_change img {
    width: 10px;
}

.switch {
    cursor: pointer;
}
